*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    width: 100%;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right,#ee0979,#ff6a00) ;
    padding: 15px;
    height: auto;
    min-height: 100%;
}